@font-face {
    font-family: "Needlework";
    src: url("/fonts/NeedleworkVF.woff2") format("woff2-variations");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Needlework Stitches";
    src: url("/fonts/NeedleworkStitchesVF.woff2") format("woff2-variations");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Nymfe";
    src: url("/fonts/NymfeVF.woff2") format("woff2-variations");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "NymfeDots";
    src: url("/fonts/NymfeDotsVF.woff2") format("woff2-variations");
}
